
modules = ["nodejs-20", "web", "python-3.12"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Run Tactical Command Center"

[[workflows.workflow]]
name = "Run Tactical Command Center"
author = 47018196
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"Rust Tactical Command Center\" && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"Rust Tactical Command Center\" && npm run dev"
