
modules = ["nodejs-20", "web", "python-3.12"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start Tactical Center"

[[workflows.workflow]]
name = "Run Tactical Command Center"
author = 47018196
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"Rust Tactical Command Center\" && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"Rust Tactical Command Center\" && npm run dev"

[[workflows.workflow]]
name = "Start Tactical Center"
author = 47018196
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"Rust Tactical Command Center\" && npm run dev"

[[workflows.workflow]]
name = "Start Server Operations"
author = 47018196
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"Rust Server Operations Center\" && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"Rust Server Operations Center\" && npm run db:push"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"Rust Server Operations Center\" && npm run dev"

[[workflows.workflow]]
name = "Start Server Operations Center"
author = 47018196
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"Rust Server Operations Center\" && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"Rust Server Operations Center\" && npm run dev"

[[ports]]
localPort = 5000
externalPort = 80
